html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/*GENERAL*/

body {
    color: #323232;
    background: #eeefed;
    font-size: 100%;
    font-family: 'source sans pro', sans-serif;
    -webkit-font-smoothing: antialiased;
}


/*CONTACT*/

.container:before,
.group:before,
.menu:before,
.container:after,
.group:after,
.menu:after {
    content: " ";
    display: table;
}

.container:after,
.group:after,
.menu:after {
    clear: both;
}

.container,
.group,
.menu {
    *zoom: 1;
}

a {
    text-decoration: none;
}

strong {
    font-weight: 600;
}

img {
    max-width: 100%;
    height: auto;
}

.menu {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.menu li {
    float: left;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 1.25em;
    /* 20 / 16 */
}

.gallery .container {
    padding: 0;
}

.contact-bar,
.personal a {
    color: white;
}

.contact-bar {
    background: #39a3d4;
    /* height: 84px; */
    font-size: 0.875em;
    /* 14/16*/
}

.personal {
    margin: 2em 0;
    /* 29/14*/
    float: left;
    width: 60%
}

.social {
    float: right;
    margin: 1.2857142857142858em 0;
    /* 18/14 */
}

.personal li:first-child {
    margin-right: 10.4633782%;
    /* 70/669 */
    /*70/14*/
}

.fas {
    vertical-align: middle;
    font-size: 2em;
}

.personal .fab,
.personal .fas {
    font-size: 1.5em;
    /* 28/14*/
    margin-right: 0.35714285714285715em;
    /* 5/14/ */
}

.social .fab {
    font-size: 1.2142857142857142em;
    /* 17/14*/
}

.social-icon {
    display: block;
    width: 3.428571428571429em;
    /*48/14*/
    height: 3.428571428571429em;
    /*48/14*/
    line-height: 3.285714285714286;
    /*46/14*/
    color: #989898;
    background: #eeefed;
    text-align: center;
    border-radius: 0.1428571428571429em;
    /* 2/14 */
    margin-left: 0.1428571428571429em;
    /* 2/14 */
}

.social-icon:hover,
.social-icon:focus {
    color: #fff;
    background: #5db0ec;
}


/*NAVIGATION*/

.nav-bar {
    background: #f2f2f2
}

.logo {
    float: left;
    margin: 1.24em 0
}

.logo a {
    display: block;
    color: #37992a;
    letter-spacing: -0.035em;
}

.logo strong {
    color: #323232;
}

.logo .fas {
    position: relative;
    font-size: 1em;
}

.navigation {
    float: right;
}

.navigation .fas {
    display: block;
    padding-bottom: 10px;
}

.navigation li {
    border-left: 1px solid #cecece;
}

.navigation li:last-child {
    border-right: 1px solid #cecece
}

.navigation a {
    color: #a6a6a6;
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 1.85em 0;
    width: 8.5em;
    /*136/16*/
}


/*když budu na určitý stránce, tak ať se to barevně odliší*/

.selected a,
.navigation a:hover,
.navigation a:focus {
    color: #37992a;
}


/*ARTICLE*/

.text-center {
    text-align: center;
}

.post-header {
    background: url("../Pokemoni/ostatní/background.png") center -687px no-repeat;
    background-size: 87.813em auto
}

.post-title {
    color: white;
    font-size: 2.813em;
    /*45/16*/
    font-weight: 600;
    background: #37992a;
    padding: 0.4em 1.02222222222em;
    /*45/18 46*/
    border-radius: 0.55555555555em;
    /*45/7*/
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: -0.044444em;
    /*45/-2*/
    margin-top: 0.8em 0;
    /*45/36*/
}

.post-content {
    padding: 4em 0 8em;
}

.post-content h2 {
    font-weight: 400;
    color: #323232;
    font-size: 1.875em;
    line-height: 1.4em;
    /*42/30*/
    margin-top: 0;
}

.controls {
    margin: 3.125em auto;
    /* 50/16 */
    text-align: center;
}

.controls li {
    float: none;
    display: inline-block;
}

.controls a {
    font-size: 1.375em;
    /* 22/16 */
    font-weight: 300;
    color: #39a3d4;
    text-transform: uppercase;
    padding: 0 1.136363636363636em;
    /*25/22*/
    line-height: 2.181818181818182em;
    /*48/22*/
    display: block;
}

.controls a:hover,
.controls a:focus,
.controls .selected a {
    background: #39a3d4;
    color: white;
    border-radius: 0.1818181818181818em;
    /* 4/22 */
}

.gallery img {
    width: 33.333333333%;
    height: auto;
}

.gallery {
    font-size: 0;
}


/*FOOTER*/

.pre-footer {
    color: white;
    background: #323232;
    text-align: center;
}

.pre-footer .container {
    /* width: 460px; */
    padding: 2.5em 0 3.75em 0;
    /* 48/16 60/16*/
}

.pre-footer p {
    font-size: 1em;
    line-height: 26px;
    text-transform: uppercase;
}

.pre-footer .personal {
    width: 100%;
    margin: 1.5em 0 0;
}

.pre-footer li {
    float: none;
    display: inline-block;
}

.pre-footer strong {
    font-size: 1.375em;
    font-weight: 600;
    text-transform: none;
    display: block;
}

footer {
    font-size: 0.875em;
}

footer .logo {
    color: #37992a;
    font-size: 2.285714285714286em;
    /*32px/14*/
    margin: 0.66em;
    margin-left: 0;
}

footer p {
    color: #a6a6a6;
    float: left;
    /* padding-left: 200px; */
}

footer p a {
    color: #37992a;
    font-weight: 600;
}

footer p,
footer .menu {
    margin: 2.285714285714286em 0 2.285714285714286em 0;
    /*32/14*/
}

footer .menu {
    color: #989898;
    font-weight: 600;
    text-transform: uppercase;
    float: right;
}

footer .menu a {
    color: #989898;
}

footer .menu a:hover,
footer .menu a:hover {
    text-decoration: underline;
}

footer .menu li:after {
    color: #989898;
    content: "/";
    margin: 0 0.5714285714285714em/*8/14*/
}

footer .menu li:last-child:after {
    content: "";
}


/*MEDIA QUERIES*/

@media (max-width: 420px) {
    .gallery img {
        width: 100%
    }
}

@media (max-width: 520px) {
    .personal,
    .social {
        width: 100%;
        text-align: center;
    }
    .personal {
        margin: 1.5em 0 0 0;
    }
    .personal li {
        display: inline-block;
    }
    .social {
        margin-top: 0.8em;
        font-size: 1em;
    }
    .social li {
        width: 24%;
        margin: 0 0.5% 0 0;
    }
    .social .social-icon {
        width: 100%;
        height: auto;
    }
    .post-title {
        display: block;
        text-align: center;
        font-size: 2.8em;
        line-height: 1.2em;
    }
}

@media (max-width: 540px) {
    footer p,
    footer .menu {
        text-align: center;
        width: 100%;
    }
    footer .logo {
        margin-bottom: 0;
    }
    footer .author {
        margin-top: 1.7em;
    }
}

@media (max-width: 605px) {
    .contact-bar {
        /* font-size: 70%; */
    }
    .personal {
        width: auto;
    }
    .personal li {
        float: none;
    }
    .personal li:first-child {
        margin-bottom: .5em;
    }
    .social {
        font-size: 1.33em;
    }
    footer .logo {
        margin-left: 11%;
    }
}

@media (max-width: 660px) {
    footer .logo {
        margin-left: 6%;
    }
}

@media (max-width: 740px) {
    .nav-bar .logo,
    .navigation {
        float: none;
        width: 100%;
    }
    .nav-bar .container {
        padding-left: 0;
    }
    .navigation li:firts-child {
        border-left: 0;
    }
    .navigation {
        border-top: 1px solid #cecece;
        text-align: center;
    }
    .navigation li {
        width: 25%;
    }
    .navigation a {
        width: 100%;
        margin: 0
    }
    .nav-bar .logo {
        width: 100%;
        font-size: 2.5em;
        text-align: center;
    }
}

@media (max-width: 766px) {
    .gallery img {
        width: 50%
    }
    .post-content {
        padding-bottom: 0;
    }
    footer .logo {
        margin-left: 13%;
    }
}

@media (max-width: 840px) {
    .logo {
        margin: .8em;
    }
    .container h1 {
        margin: 0.37em 0;
    }
    .navigation a {
        padding: 1em;
        width: 100%;
    }
    article {
        font-size: 85%
    }
    .post-content {
        padding: 3.2em 5em;
    }
    .pre-footer {
        font-size: 90%;
    }
    footer .logo {
        margin-top: 16%;
    }
    footer .menu {
        width: 100%;
        margin-top: 0;
    }
    footer .menu li {
        float: none;
        display: inline-block
    }
}

@media (max-width: 1150px) {
    .nav-bar .container {
        padding-right: 0;
    }
    .navigation li:last-child {
        border-right: none;
    }
}