html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/*GENERAL*/

body {
    color: #323232;
    background: #eeefed;
    font-size: 100%;
    font-family: 'source sans pro', sans-serif;
    -webkit-font-smoothing: antialiased;
}


/*CONTACT*/

.container:before,
.group:before,
.menu:before,
.container:after,
.group:after,
.menu:after {
    content: " ";
    display: table;
}

.container:after,
.group:after,
.menu:after {
    clear: both;
}

.container,
.group,
.menu {
    *zoom: 1;
}

a {
    text-decoration: none;
}

strong {
    font-weight: 600;
}

.menu {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.menu li {
    float: left;
}

.fa {
    vertical-align: middle;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 1.25em;
    /* 20 / 16 */
}

.gallery .container {
    padding: 0;
}

.contact-bar,
.personal a {
    color: white;
}

.contact-bar {
    background: #39a3d4;
    /* height: 84px; */
    font-size: 0.875em;
    /* 14/16*/
}

.personal {
    margin: 2em 0;
    /* 29/14*/
    float: left;
}

.social {
    float: right;
    margin: 1.2857142857142858em 0;
    /* 18/14 */
}

.personal li:first-child {
    margin-right: 5em;
    /*70/14*/
}

.personal .fab,
.personal .fas {
    font-size: 2em;
    /* 28/14*/
    margin-right: 0.35714285714285715em;
    /* 5/14/ */
}

.social .fab {
    font-size: 1.2142857142857142em;
    /* 17/14*/
}

.social-icon {
    display: block;
    width: 3.428571428571429em;
    /*48/14*/
    height: 3.428571428571429em;
    /*48/14*/
    line-height: 3.285714285714286;
    /*46/14*/
    color: #989898;
    background: #eeefed;
    text-align: center;
    border-radius: 0.1428571428571429em;
    /* 2/14 */
    margin-left: 0.1428571428571429em;
    /* 2/14 */
}

.social-icon:hover,
.social-icon:focus {
    color: #fff;
    background: #5db0ec;
}


/*NAVIGATION*/

.nav-bar {
    background: #f2f2f2
}

.logo {
    float: left;
    margin: 1.24em 0
}

.logo a {
    display: block;
    color: #de5728;
    letter-spacing: -0.035em;
}

.logo strong {
    color: #323232;
}

.logo .fas {
    position: relative;
}

.navigation {
    float: right;
}

.navigation .fas {
    display: block;
    padding-bottom: 10px;
}

.navigation li {
    border-left: 1px solid #cecece;
}

.navigation li:last-child {
    border-right: 1px solid #cecece
}

.navigation a {
    color: #a6a6a6;
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 1.85em 0;
    width: 8.5em;
    /*136/16*/
}


/*když budu na určitý stránce, tak ať se to barevně odliší*/

.selected a,
.navigation a:hover,
.navigation a:focus {
    color: #de5728;
}


/*ARTICLE*/

.text-center {
    text-align: center;
}

.post-header {
    background: url("../Pokemoni/ostatní/background.png") center -687px no-repeat;
    background-size: 87.813em auto
}

.post-title {
    color: white;
    font-size: 2.813em;
    /*45/16*/
    font-weight: 600;
    background: #de5728;
    padding: 0.4em 1.02222222222em;
    /*45/18 46*/
    border-radius: 0.55555555555em;
    /*45/7*/
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: -0.044444em;
    /*45/-2*/
    margin-top: 0.8em 0;
    /*45/36*/
}

.post-content {
    padding: 4em 0 8em;
}

.post-content h2 {
    font-weight: 400;
    color: #323232;
    font-size: 1.875em;
    line-height: 1.4em;
    /*42/30*/
    margin-top: 0;
}

.controls {
    margin: 3.125em auto;
    /* 50/16 */
    text-align: center;
}

.controls li {
    float: none;
    display: inline-block;
}

.controls a {
    font-size: 1.375em;
    /* 22/16 */
    font-weight: 300;
    color: #39a3d4;
    text-transform: uppercase;
    padding: 0 1.136363636363636em;
    /*25/22*/
    line-height: 2.181818181818182em;
    /*48/22*/
    display: block;
}

.controls a:hover,
.controls a:focus,
.controls .selected a {
    background: #39a3d4;
    color: white;
    border-radius: 0.1818181818181818em;
    /* 4/22 */
}

.gallery img {
    width: 387px;
}

.gallery {
    font-size: 0
}


/*FOOTER*/

.pre-footer {
    color: white;
    background: #323232;
    text-align: center;
}

.pre-footer .container {
    /* width: 460px; */
    padding: 2.5em 0 3.75em 0;
    /* 48/16 60/16*/
}

.pre-footer p {
    font-size: 1em;
    line-height: 26px;
    text-transform: uppercase;
}

.pre-footer .personal {
    width: 100%;
    margin: 1.5em 0 0;
}

.pre-footer li {
    float: none;
    display: inline-block;
}

.pre-footer strong {
    font-size: 1.375em;
    font-weight: 600;
    text-transform: none;
    display: block;
}

footer {
    font-size: 0.875em;
}

footer .logo {
    color: #de5728;
    font-size: 2.285714285714286em;
    /*32px/14*/
    margin: 0.66em;
    margin-left: 0;
}

footer p {
    color: #a6a6a6;
    float: left;
    /* padding-left: 200px; */
}

f footer p a {
    color: #e75652;
    font-weight: 600;
}

footer p,
footer .menu {
    margin: 2.285714285714286em 0 2.285714285714286em 0;
    /*32/14*/
}

footer .menu {
    color: #989898;
    font-weight: 600;
    text-transform: uppercase;
    float: right;
}

footer .menu a {
    color: #989898;
}

footer .menu a:hover,
footer .menu a:hover {
    text-decoration: underline;
}

footer .menu li:after {
    color: #989898;
    content: "/";
    margin: 0 0.5714285714285714em/*8/14*/
}

footer .menu li:last-child:after {
    content: "";
}